---
import Layout from '@/layouts/Layout.astro';
import CollectionViewer from '@/components/CollectionViewer.vue';
import FlipPostcard from '@/components/FlipPostcard.vue';
import ShootToTop from '@/components/ShootToTop.vue';
import SlideshowZoom from '@/components/SlideshowZoom.vue';
import homePgTextboxImg from '@/assets/images/homepage-textbox.png';
import * as homeContent from '@/content/home.md';

const { frontmatter: content } = homeContent;

const footerBgImg = `url('${content.footerImg}')`;

export const prerender = true;
---

<Layout>
  <CollectionViewer
    client:only='vue'
    images={content.images}
    disable-scroll={true}
    background='rgba(0, 0, 0, 1)'
    isOldTime={true}
  />

  <div class='container mx-auto flex flex-row justify-center gap-4 p-4 pb-8'>
    <!-- Left Column -->
    <div
      class='hidden lg:block w-[195px] max-w-[195px] 2xl:w-[520px] 2xl:max-w-[520px] shrink-0 lg:mt-8'
    >
      <SlideshowZoom
        client:only='vue'
        slides={content['character-slideshow-1']}
        maxHeightInPx={270}
        intervalTime={5000}
        class='2xl:hidden'
      />
      <SlideshowZoom
        client:only='vue'
        slides={content['character-slideshow-1']}
        maxHeightInPx={370}
        intervalTime={5000}
        class='hidden 2xl:block'
      />

      <div class='hidden 2xl:flex flex-col items-end gap-12 mt-[700px] mr-12'>
        <img
          src={content.postcardHistory.images[0].img}
          alt={content.postcardHistory.images[0].altText}
          width={149}
          class='lg:w-[210px]'
        />
        <img
          src={content.postcardHistory.images[1].img}
          alt={content.postcardHistory.images[1].altText}
          width={156}
          class='lg:w-[220px]'
        />
      </div>
    </div>

    <!-- Centre Column -->
    <div class='w-full lg:w-[626px] 2xl:max-w-[720px] shrink-0'>
      <div
        class='block md:hidden bg-cream-light rounded-lg shadow-text-box mb-4 p-4 lg:py-8 lg:px-12'
      >
        <p
          class='font-francois-one font-normal text-center leading-5 text-15px lg:text-3xl lg:leading-9'
        >
          This gallery of historical photos takes us back a century ago, when
          these wonderful images were captured on photo picture postcards. These
          vintage postals each bear witness to memorable moments in the lives of
          these early 20th century American outdoorsmen and women.
        </p>
      </div>
      <img
        alt=''
        src={homePgTextboxImg.src}
        class='hidden md:flex place-self-center-safe mb-4'
        width='624'
      />

      <SlideshowZoom
        client:only='vue'
        slides={content['character-slideshow-1']}
        maxHeightInPx={270}
        class='lg:hidden'
      />

      <h1
        class='font-francois-one font-normal text-center text-lg lg:text-3xl uppercase mt-4 lg:mt-12'
      >
        {content.postcardHistory.title}
      </h1>

      <div
        class='font-bembo font-normal text-14px lg:text-xl text-justify mt-4'
      >
        <Fragment set:html={content.postcardHistory.textPt1} />
      </div>

      <div class='mt-8'>
        <FlipPostcard
          client:only='vue'
          imgFront={content.postcardHistory.postcards[0].imgFront}
          imgBack={content.postcardHistory.postcards[0].imgBack}
          caption={content.postcardHistory.postcards[0].caption}
          captionAlign='left'
          captionContainWithinCard={true}
          seeTheBack={true}
          width={292}
          height={180}
          classAppend='lg:hidden'
        />
        <FlipPostcard
          client:only='vue'
          imgFront={content.postcardHistory.postcards[0].imgFront}
          imgBack={content.postcardHistory.postcards[0].imgBack}
          caption={content.postcardHistory.postcards[0].caption}
          seeTheBack={true}
          width={456}
          height={281}
          classAppend='hidden lg:flex'
        />
      </div>

      <div
        class='font-bembo font-normal text-14px lg:text-xl text-justify mt-4'
      >
        <Fragment set:html={content.postcardHistory.textPt2} />
      </div>

      <div class='flex 2xl:hidden flex-row justify-around gap-4 mt-8'>
        <div>
          <img
            src={content.postcardHistory.images[0].img}
            alt={content.postcardHistory.images[0].altText}
            width={149}
            class='lg:w-[210px]'
          />
        </div>
        <div class='mt-2'>
          <img
            src={content.postcardHistory.images[1].img}
            alt={content.postcardHistory.images[1].altText}
            width={156}
            class='lg:w-[220px]'
          />
        </div>
      </div>

      <h2
        class='font-francois-one font-normal text-center text-lg lg:text-3xl uppercase mt-4 2xl:mt-10'
      >
        {content.about.title}
      </h2>

      <div
        class='font-bembo font-normal text-14px lg:text-xl text-justify mt-4'
      >
        <Fragment set:html={content.about.text} />
      </div>

      <div class='hidden lg:flex 2xl:hidden flex-col gap-12 mt-12'>
        {
          content.postcardHistory.postcards.slice(1).map((postcard: any) => (
            <FlipPostcard
              client:only='vue'
              imgFront={postcard.imgFront}
              imgBack={postcard.imgBack}
              caption={postcard.caption}
              captionAlign='left'
              captionContainWithinCard={true}
              seeTheBack={true}
              width={456}
              height={281}
            />
          ))
        }
      </div>

      <div class='mt-8'>
        <ShootToTop
          client:only='vue'
          staticImg={true}
        />
      </div>
    </div>

    <!-- Right Column -->
    <div
      class='hidden lg:block w-[195px] max-w-[195px] 2xl:w-[520px] 2xl:max-w-[520px] shrink-0'
    >
      <SlideshowZoom
        client:only='vue'
        slides={content['character-slideshow-2']}
        maxHeightInPx={270}
        intervalTime={5000}
        delayStartTime={2500}
        class='2xl:hidden'
      />
      <SlideshowZoom
        client:only='vue'
        slides={content['character-slideshow-2']}
        maxHeightInPx={370}
        intervalTime={5000}
        delayStartTime={2500}
        class='hidden 2xl:block'
      />
      <div class='hidden 2xl:flex flex-col gap-12 mt-12'>
        {
          content.postcardHistory.postcards.slice(1).map((postcard: any) => (
            <FlipPostcard
              client:only='vue'
              imgFront={postcard.imgFront}
              imgBack={postcard.imgBack}
              caption={postcard.caption}
              captionAlign='left'
              captionContainWithinCard={true}
              seeTheBack={true}
              width={385}
              height={249}
            />
          ))
        }
      </div>
    </div>
  </div>

  <footer></footer>
</Layout>

<style define:vars={{ footerBgImg }}>
  footer {
    position: relative;
    text-align: center;
    padding: 0 0 300px 0;
  }
  footer:after {
    content: '';
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    background: var(--footerBgImg) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 450px;
    z-index: -1;
    -webkit-mask-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0) 0%),
      to(rgba(0, 0, 0, 1) 50%)
    );
    mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 50%
    );
  }
</style>
